.venv
.coverage
.pytest_cache

/user_service/__pycache__
/user_service/__tests__/__pycache__

/destination_service/__pycache__
/destination_service/__tests__/__pycache__

/auth_service/__pycache__
/auth_service/__tests__/__pycache__


execution.txt
tests.txt